* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

/* DEFAULT STYLE */
.flex {
  display: flex;
  align-items: center;
}

.container {
  margin: 2rem 4.4rem 2rem 4.4rem;
}

li {
  list-style: none;
}

.btn {
  border: none;
  background-color: rgba(6, 6, 132, 0.936);
  color: #ffffff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

/* HEADER START HERE */
header {
  justify-content: space-between;

  & .logo {
    height: 40px;
    margin-right: 1rem;
    cursor: pointer;
  }

  & .nav-link {
    gap: 1rem;
    cursor: pointer;
  }
}
/* HEADER END HERE */

/* MAIN CONTENT START HERE */
main {
  justify-content: space-between;

  & .main-left {
    h1 {
      font-size: 4rem;
      color: rgba(3, 3, 62, 0.936);
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 4rem;
    }
  }

  & .main-right {
    width: 70vw;
    display: flex;
    justify-content: end;

    & .main-img {
      height: 70vh;
    }
  }
}

span {
  color: rgba(6, 6, 132, 0.936);
}
