* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(221, 218, 218, 0.838);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form {
  width: 50vh;
  height: 50vh;
  background-color: rgba(198, 193, 193, 0.645);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

form {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & .input-field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  & #submit {
    background-color: blue;
    color: white;
    border: none;
    padding: 0.4rem 3rem 0.4rem 3rem;
    cursor: pointer;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
  }
}
